@import './styles/common.css';



.ant-layout {
  display: flex;
  height: calc(100vh - 150px);
}

.layout-index .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.layout-index .trigger:hover {
  color: #1890ff;
}

.layout .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

